@font-face {
    font-family: 'AA-Spaceman';
    src: url('../assets/fonts/AA-Spaceman.ttf') format("truetype");
}

html, body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Monaco', monospace;
}

@media (max-width: 1024px) {
    html, body {
        font-size: 110%;
    }
}

@media (min-width: 1024px) {
    html, body {
        font-size: 90%;
    }
}


.space-js {
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.space-js.holographic-display {
    background: rgba(55, 155, 255, .6);
    border: 2px solid rgba(55, 155, 255, .9);
    margin: .15rem;
}

.space-js.space-container {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1024px) {
    .space-js.space-container {
        width: 100vw;
    }
}

@media (min-width: 1024px) {
    .space-js.space-container {
        width: 70vw;
    }
}

.space-js.space-title, .space-js.space-link {
    color: rgba(255, 255, 255, .9);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, .8);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.space-js.holographic-png {
    background: rgba(55, 155, 255, .6);
    border: 2px solid rgba(55, 155, 255, .9);
}

.space-js.horizontal-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



header.space-js {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: .15rem;
}

@media (max-width: 1024px) {
    header.space-js {
        height: 5vh;
    }
}

@media (min-width: 1024px) {
    header.space-js {
        height: 10vh;
    }
}

.space-js.space-nav {
    width: inherit;
    height: inherit;
    animation: background-color-blick 1s ease-in-out;
}

.space-js.space-nav .mobile-menu-icon {
    font-size: 250%;
    width: 95%;
    text-align: right;
    color: white;
    display: none;
    cursor: pointer;
}

.space-js.space-nav ul {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.space-js.space-nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .25rem;
}



section.space-js {
    position: relative;
    width: 100%;
}

@media (max-width: 1024px) {
    section.space-js {
        position: relative;
        width: 100%;
        height: 130vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    section.space-js {
        position: relative;
        width: 100%;
        height: 100vh;
    }
}

.space-js.object-card {
    padding: .15rem;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1024px) {
    .space-js.object-card {
        flex-direction: column;
        padding: 2rem;
        font-size: 150%;
    }
}

@media (min-width: 1024px) {
    .space-js.object-card {
        flex-direction: row;
    }
}

.space-js.object-card * {
    margin: .15rem;
}

@media (max-width: 1024px) {
    .space-js.object-card .object-preview {
        display: block;
        width: 100%;
        height: auto;
        margin: 2rem auto;
    }
}

@media (min-width: 1024px) {
    .space-js.object-card .object-preview {
        width: 20vw;
        height: auto;
    }
}

footer.space-js {
    position: relative;
    width: 100%;
    height: 5vh;
    text-align: center;
    z-index: 9998;
}



@keyframes background-color-blick {
    10% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9));
    }
    20% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(255, 255, 255, .9),  rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9), rgba(55, 155, 255, .9));
    }
    30% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, .8), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6));
    }
    40% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, .7), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6));
    }
    50% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, .7), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6));
    }
    60% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6));
    }
    70% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, .7), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6));
    }
    80% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, .8), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6));
    }
    90% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6),  rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, .6), rgba(55, 155, 255, .6));
    }
    100% {
        background: linear-gradient(90deg, rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(55, 155, 255, .6), rgba(255, 255, 255, 1));
    }
}


